* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        background-color: #1e1b37;
    }

    .logo1 {
        display: flex;
        align-items: center;
        font-size: 34px;
        font-weight: bold;
    }

    .logo1 img {
        width: 80px;
        margin-right: 10px;
        border-radius: 50%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        border: 2px solid white;
        padding: 10px;
        border-radius: 80px;
        margin-top: 15px;
    }

    nav a {
        color: white;
        text-decoration: none;
        text-decoration: capitalize;
        font-size: 20px;
        padding: 0 10px;
        margin: 0 30;
        font-weight: 600;
        position: relative;
    }


    nav a:hover {
        color: lightgreen;
    }

    nav a::before {
        content: " ";
        position: absolute;
        bottom: -10px;
        width: 0%;
        left: 0;
        height: 3px;
        background-color: #e15c6b;
        transition: all .2s;

    }

    nav a:hover::before {
        width: 100%;

    }

    .auth-buttons {
        font-weight: bold;
        display: flex;
        gap: 15px;
        border-radius: 22px;
    }

    .auth-buttons a:hover {
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
        transform: scale(1.1);
        color: white;
    }

    .auth-buttons a {
        text-decoration: none;
        font-size: 16px;
    }

    .login {
        color: white;
        background: none;
        border: 1px solid white;
        padding: 8px 20px;
        border-radius: 20px;
        font-size: 16px;
        margin-right: 20px;
    }
.section {
    width: 100%;
    height: 100vh;
}

.back-img {
    background: url(https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center/cover;
    width: 100%;
    height: 100vh;
}
.space0{
    height:10vh;
}

.back-img {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.All{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
}

.back-img p{

    font-size: 20px;
    color: #c8ed11;

}
.back-img h1{
    font-size: 68px;
}


.main{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.next p{
    font-size: 25px;
}

.space {
    height: 5vh;
}

.new p{
    font-size: 25px;
}


.space1 {
    height: 5vh;
}

.list{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    
}

.list ul li {
    font-size: 20px;
    height: 5vh;
    text-align: left; 
}

.space2{
    height: 5vh;

}

.space2{
    height: 20vh;
}

.list1 p{
    font-size: 55px;
    height: 6vh;
    text-align: left;

}

.list1 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(247,247,247);
    align-items: center;
    gap:50px;

}
.list1 p{
    align-self: flex-start;
    padding-top:  50px;
}

.list-div {
    width: 50%;
}

.space3 {
    height: 15vh;
}

.list2 p {
    font-size: 35px;
}

.space4 {
    height: 4vh;
}

.list3, .list4 {
    font-size: 25px;
}

.space5 {
    height: 4vh;
}

.list4 {
    padding-left: 18px;
}

.list4 li {
    margin-bottom: 50px;
}


.list-div2{
    width: 50%;
}

.last1{
    height: 10vh;

}

.lasted2 p{
    font-size: 25px;
}

.last2{
    height: 6vh;
}

.lasted3 p{
    font-size: 25px;
}

.last3{
    height: 6vh;
}

.lasted4{
    font-size: 25px;
}

.last4{
    height: 6vh;
}

.lasted5{
    font-size: 25px;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10em;
    filter: brightness(100);
}

.foo a {
    margin: 10px;
}

.insta {
    width: 2.5em;
    filter: invert();
}

.copyright {
    color: white;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.madeby {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}  


